/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    margin-left: 0px;
}

.header-background {
    border-radius: 30px;
    width: 1100px;
    height: 500px;
    background-color: #161616;
    margin: 30px 140px 130px 6vw;
    padding: 0 0 20px;
}

.text-header {
    padding-right: 40px;
    padding-left: 106px;
    margin-top: -40px;
}

.h1-manual {
    margin-top: 5pxpx;
    margin-bottom: 5px;
    font-size: 50px;
}

.para-part {
    margin-bottom: 50px;
    margin-top: 10px;
}

.watch-button {
    margin-top: 5px;
    width: 160px;
    height: 56px;
    background-color: #DD0000;
    border-radius: 20px;
    color: white;
}


.fa-play {
    padding-left: 5px;
}

.img-part {
    margin-left: -75px;
    padding-top: 20px;
}

img {
    width: 470px;
    height: 500px;
}

/* main body */

.diff-bg {
    background-color: #161616;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.next-games {
    width: 190px;
    height: 60px;
    background-color: white;
    color: #161616;
    margin: 30px 30px -30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #161616;
}

.groups {
    width: 190px;
    height: 60px;
    background-color: white;
    color: #161616;
    margin: 60px 30px -30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog {
    width: 190px;
    height: 60px;
    background-color: white;
    color: #161616;
    margin: 60px 30px 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #DD0000;
    transition: 0.7s;
}



/* transfer secton styles */

.whole-section {
    width: 1100px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-column-gap: 0px;
}

.news-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    margin-bottom: 120px;
    justify-items: end;
}

.news-area {
    margin: 0px;
    height: 335px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 95%;
}

.img-used {
    width: 100%;
    height: auto;
}

.transfer-text {
    border: 1px solid #161616;
    border-radius: 5px;
    width: 100px;
    height: 32px;
    color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

.transfer-para {
    color: #161616;
    font-weight: 700;
    margin-left: 10px;
}

.final-part {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 10px;
}

.fa-clock {
    color: #161616
}

.comments {
    color: gray;
    margin-left: 5px;
}

.fa-comment-dots {
    color: #161616;
}

.time {
    color: gray;
    margin-left: 5px;
    margin-right: 5px;
}

.next-games .groups .blog:hover {
    background-color: #DD0000;
    transition: 0.7s;
}

/* footer part */

footer {
    background-color: #161616;
    width: 100%;
    height: 444px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hr-style {
    border: 1px solid gray;
    width: 1100px;
}

.footer-words {
    margin-top: 20px;
}

.footword {
    margin: 0px 15px;
}

.logo {
    margin: 30px;
}

/* mobile devices */

@media only screen and (max-width:688px) {
    .header-background {
        width: 393px;
        margin-left: 0px;
        border-radius: 0;
        margin-right: 0px;
        padding-bottom: 50px;
    }




    .whole-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
        place-items: center;
    }

    .diff-bg {
        margin-left: 18px;
        margin-bottom: 22px;

    }

    .news-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: -20px;
    }

    .news-area {
        height: 500px;
    }

    footer {
        width: 393px;
        height: 460px;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: -20px;
        margin-left: 0px;
    }

    .hr-style {
        border: 1px solid gray;
        width: 200px;
    }

    img {
        height: 200px;
        width: 200px;
    }

    .text-header {
        height: 300px;
        width: 200px;
    }

    .h1-manual {
        font-size: 30px;
        margin-left: -50px;
    }

    .para-part {
        margin-left: -50px;
    }
}

@media only screen and (min-width:689px) and (max-width:992px) {
    .header-background {
        width: 820px;
    }

    .news-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: -20px;
    }

    .diff-bg {
        margin-left: 18px;
        margin-bottom: 22px;
        margin-right: 20px;

    }

    footer {
        width: 1100px;
        height: 460px;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: -20px;
        margin-left: 0px;
    }
}