/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

header {
    display: flex;
    align-items: center;
}

.header-background {
    border-radius: 30px;
    width: 1100px;
    height: 500px;
    background-color: #161616;
    margin: 30px 140px 130px 80px;
    padding: 0 0 20px;
}

.text-header {
    padding-right: 40px;
    padding-left: 106px;
    margin-top: -40px;
}

.h1-manual {
    margin-top: 5pxpx;
    margin-bottom: 5px;
    font-size: 50px;
}

.para-part {
    margin-bottom: 50px;
    margin-top: 10px;
}

.watch-button {
    margin-top: 5px;
    width: 160px;
    height: 56px;
}

.fa-play {
    padding-left: 5px;
}

.watch-background {
    padding: 16px 25px;
    background-color: #DD0000;
    border-radius: 20px;
}

.img-part {
    margin-left: -75px;
    padding-top: 20px;
}

img {
    width: 470px;
    height: 500px;
}

/* main body */

.diff-bg {
    background-color: #161616;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    padding: 5px;
}

.next-games {
    width: 190px;
    height: 60px;
    background-color: white;
    color: #161616;
    margin: 30px 30px -30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groups {
    width: 190px;
    height: 60px;
    background-color: white;
    color: #161616;
    margin: 60px 30px -30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog {
    width: 190px;
    height: 60px;
    background-color: white;
    color: #161616;
    margin: 60px 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* transfer secton styles */

.img-used {
    width: 260px;
    height: 150px;
}

.transfer-text {
    border: 1px solid #161616;
    border-radius: 5px;
    width: 100px;
    height: 32px;
    color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transfer-para {
    color: #161616;
}

.final-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-clock {
    color: #161616
}

.comments {
    color: gray;
}

.fa-comment-dots {
    color: #161616;
}

.time {
    color: gray;
}